appdirs==1.4.3
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
packaging==16.8
PyMySQL==0.7.11
pyparsing==2.2.0
requests==2.14.2
six==1.10.0
SQLAlchemy==1.1.10
Werkzeug==0.12.2
